<div class="container">
    <%if(user.id === manager.id){%>
    <h1 class="page-header">Edit</h1>
    <form method="POST" action=<%= "/teams/delete/" +teamItem.id %>>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form> 
    <form action=<%= "/teams/update/" + teamItem.id %> method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input required type="text" name="title" class="form-control" value="<%= teamItem.name%>">
        </div>
        <div class="form-group">
            <label for="title">Description</label>
            <textarea required class="form-control" rows="3" name="description" value="<% teamItem.description %>"><%= teamItem.description%></textarea>
        </div>
    <div class="form-group">
        <label for="sport">Sport</label>
        <select required name="sport" selected="">
            <option hidden selected value="<%=teamItem.sport%>"><%=teamItem.sport%></option>
            <option class="form-control" value="Ultimate Frisbee">Ultimate Frisbee</option>
            <option class="form-control" value="Basketball">Basketball</option>
            <option class="form-control" value="Basketball">Volleyball</option>
        </select>
    </div>
    <div class="form-group">
        <label for="skill">Skill Level</label>
        <select name="skill" selected="">
            <option hidden selected value="<%=teamItem.skill%>"><%=teamItem.skill_level%></option>
            <option class="form-control" value="Beginner">Beginner</option>
            <option class="form-control" value="Intermediate">Intermediate</option>
            <option class="form-control" value="Advanced">Advanced</option>
        </select>
    </div>
    <div class="form-group">
        <label for="competitive">Competitive or Recreational?</label>
        <%if(teamItem.competitive === true){%>
            <input checked type="radio" name="competitive" value="Competitive">Competitive<br>
            <input type="radio" name="competitive" value="Recreational">Recreational<br>
        <%}else{%>
            <input type="radio" name="competitive" value="Competitive">Competitive<br>
            <input checked type="radio" name="competitive" value="Recreational">Recreational<br>
        <%}%>
    </div>
    <div class="form-group">
        <label for="player_count">Player Count</label>
        <input required class="form-control" type="number" name="player_count" min="1" max="99" value="<%= teamItem.player_count%>">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input required class="form-control" type="text" name="location" value="<%= teamItem.location%>">
    </div>
    <div class="form-group">
        <label for="social_link">Social Link</label>
        <input required type="text" class="form-control" name="social_link" value="<%=teamItem.social_link%>">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

    </form>
    <%}%>
</div>