<section class="edit-page h-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
    <%if(user.id === manager.id){%>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://storage.googleapis.com/pod_public/1300/141527.jpg"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="edit-card col-xl-6">
                <div class="card-body p-md-5 text-black">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <h3 class="mb-5 text-uppercase">Edit My Team</h3>
                        </div>
                        <div class="col-md-6 mb-4">
                            <form method="POST" action=<%= "/teams/delete/" +teamItem.id %>>
                                <button type="submit" class="btn btn-danger">Delete Team</button>
                            </form> 
                        </div>
                    </div>
                    
                  <form action=<%= "/teams/update/" + teamItem.id %> method="POST">
                    <div class="form-outline mb-4">
                    <input required type="text" name="name" id="title" class="form-control form-control-lg" value="<%= teamItem.name%>">
                    <label class="form-label" for="title">Title</label>
                    </div>

                  <div class="form-outline mb-4">
                    <textarea required class="form-control form-control-lg" rows="3" name="description" id="description" value="<% teamItem.description %>"><%= teamItem.description%></textarea>
                    <label class="form-label" for="description">Description</label>
                  </div>
  
                    <div class="justify-content-start align-items-center mb-4 py-2">

                        <select required class="select form-control form-control-lg" name="sport">
                        <option hidden selected value="<%=teamItem.sport%>" id="sportValue"><%=teamItem.sport%></option>
                        <option value="Ultimate Frisbee">Ultimate Frisbee</option>
                        <option value="Basketball">Basketball</option>
                        <option value="Volleyball">Volleyball</option>
                        </select>
                        <label class="form-label" for="sport">Sport</label>

                    </div>

                    <div class="justify-content-start align-items-center mb-4 py-2">

                        <select required class="select form-control form-control-lg" name="skill_level">
                        <option hidden selected value="<%=teamItem.skill_level%>" id="skillValue"><%=teamItem.skill_level%></option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                        </select>
                        <label class="form-label" for="skill_level">Skill Rank</label>

                    </div>

                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2 teamLevel" id="<%= teamItem.competitive %>">
  
                        <h6 class="mb-0 mr-4">Level: </h6>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio" name="competitive" id="competitive"
                            value="Competitive" />
                          <label class="form-check-label" for="competitive">Competitive</label>
                        </div>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio" name="competitive" id="recreational"
                            value="Recreational" />
                          <label class="form-check-label" for="recreational">Recreational</label>
                        </div>
      
                    </div>

                      <div class="form-outline mb-4">
                        <input required type="number" id="playerCount" class="form-control form-control-lg"
                        min="1" max="99" name="player_count" value="<%= teamItem.player_count%>"/>
                        <label class="form-label" for="player_count">Player Count</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input required type="text" id="location" class="form-control form-control-lg" name="location" value="<%= teamItem.location%>"/>
                        <label class="form-label" for="location">Location</label>
                      </div>
  
                  <div class="form-outline mb-4">
                    <input required type="text" id="socialLink" class="form-control form-control-lg" name="social_link" value="<%=teamItem.social_link%>"/>
                    <label class="form-label" for="social_link">Social Link</label>
                  </div>
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg mr-2" id="resetAll">Reset all</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit Form</button>
                  </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } else {%>
        <h1>Not a Manager</h1>
    <%}%>
    </div>
</section>

<script>
    let teamLevel = document.querySelector('.teamLevel');
    let levelCat = document.querySelectorAll('.teamLevel > div');

    if (teamLevel.getAttribute('id') === 'true') {
        for (let item of levelCat) {
            if (item.querySelector('input').getAttribute('id') === "competitive") {
                item.querySelector('input').setAttribute('checked', '');
            }
        }
    } else {
        for (let item of levelCat) {
            if (item.querySelector('input').getAttribute('id') === "recreational") {
                item.querySelector('input').setAttribute('checked', '');
            }
        }
    }

    $("#resetAll").on("click", function() {
        $("#title").val("");
        $("#description").val("");
        $("#sportValue").text("");
        $("#skillValue").text("");
        $("#playerCount").val("");
        $("#location").val("");
        $("#socialLink").val("");
        $('input[type=radio]').prop('checked',false);
    })
    
</script>