<div class="container">
<h1 style="text-align:center">Registered Teams</h1>
    <% teams.forEach( item => { %>
        <button class="btn btn-outline-info btn-lg btn-block" style="background-color: lightskyblue;">
            <h2><%= item.name%></h2>
            <p>Number of players: <%= item.player_count%></p>
            <p>Skill Level: <%= item.skill_level%></p>
            <p>Manager name: <%=item.manager_name%></p>
            <p>Manager email: <%=item.manager_email%></p>   
        </button>
    <%})%>
</div>
