<div class="container">
    <h1 style="text-align: center;">Registered Teams</h1>
    <div class="pb-2 w-25">
        <select class="form-control" id="sortBySport">
            <option value="All">Pick your sport</option>
            <option value="Ultimate Frisbee">Ultimate Frisbee</option>
            <option value="Basketball">Basketball</option>
            <option value="Volleyball">Volleyball</option>
        </select>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <div class="row row-cols-1 row-cols-md-3" id="myTeams">
        <% teams.forEach( item=> { %>
            <div class="col mb-4 teamList">
                <div class="card" style="border: solid 2px lightskyblue">
                    <img src="<%= item.picture %>" class="card-img-top" alt="insert image here" width="380"
                        height="200" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= item.name %>
                        </h5>
                        <div class="card-text">
                            <p>Sport: <%= item.sport %> <br />Skill: <%= item.skill_level %> <br />Players: <%= item.player_count%>
                            </p>
                        </div>
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne<%= item.id %>" aria-expanded="false"
                            aria-controls="#collapseOne<%= item.id %>">
                            Click here for more info
                        </button>
                    </div>
                    <div id="collapseOne<%= item.id %>" class="collapse" aria-labelledby="headingOne">
                        <a class="btn btn-primary" href= <%= "/teams/" + item.id+"/edit" %>>Click here for more info</a>
                        <div class="card-body">
                            <p>
                                Manager: <%= item.manager_name %>
                                    <br />Email: <%= item.manager_email %>
                                        <br />Location: <%= item.location %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <%})%>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTeams .teamList").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    
    $("#sortBySport").change(function () {
        var selectedSport = $(this).children("option:selected").val();
        $("#myTeams .teamList").filter(function () {
            if (selectedSport === "All") {
                $(this).show();
            } else {
                $(this).toggle($(this).find('.card-text').text().toLowerCase().indexOf(selectedSport.toLowerCase()) > -1);
            }
        });
    });
</script>