<div class="container">
  <h1>Players</h1>
  <div class="pb-2 w-25">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  </div>
  
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#orderBy">
        Order by
      </button>
      <div id="orderBy" class="collapse show">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="myOrder" id="alphaAZ" value="option1">
          <label class="form-check-label" for="myOrder">
            Player name (A-Z)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="myOrder" id="alphaZA" value="option2">
          <label class="form-check-label" for="myOrder">
            Player name (Z-A)
          </label>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row row-cols-1 row-cols-md-3" id="myPlayers">
        <% players.forEach( item => { %>
          <div class="col mb-4 playerList">
            <div class="card">
                <img
                src="<%= item.picture %>"
                class="card-img-top"
                alt="player profile"
                width="380"
                height="200"
                />
                <div class="card-body">
                  <h5 class="card-title"><%= item.fname %> <%= item.lname %></h5>
                  <div class="card-text">
                      <p>Sport: <%= item.sport %> <br />Skill: <%= item.skill %></p>
                  </div>
                  <a class="btn btn-primary" href= <%= "/players/" + item.id %>>Click here for more info</a>
                </div>
            </div>
          </div>
        <%})%>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myPlayers .playerList").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function(){
    $("#alphaAZ").on("click", function() {
      var mylist = $('#myPlayers');
      var listitems = mylist.children('.playerList').children('div').children(".card-body").children(".card-title").get();
      var playerCards = $('.playerList');
      listitems.sort(function(a, b) {
        return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
      })
      $.each(playerCards, function(idx, itm) { console.log(idx); });
    });
  });
</script>
