<div class="container">
  <h1>Players</h1>
  <div class="pb-2 w-25">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  </div>
  
  <div class="row">
    <div class="col">
      <button data-toggle="collapse" data-target="#demo">Collapsible</button>
      <div id="demo" class="collapse">
        Lorem ipsum dolor text....
      </div>
    </div>
    <div class="col-10">
      <div class="row row-cols-1 row-cols-md-3" id="myPlayers">
        <% players.forEach( item => { %>
          <div class="col mb-4 playerList">
            <div class="card">
                <img
                src="<%= item.picture %>"
                class="card-img-top"
                alt="player profile"
                width="380"
                height="200"
                />
                <div class="card-body">
                  <h5 class="card-title"><%= item.fname %> <%= item.lname %></h5>
                  <div class="card-text">
                      <p>Sport: <%= item.sport %> <br />Skill: <%= item.skill %></p>
                  </div>
                  <a class="btn btn-primary" href= <%= "/players/" + item.id %>>Click here for more info</a>
                </div>
            </div>
          </div>
        <%})%>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myPlayers .playerList").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
