<div class="container">
  <h1>Players</h1>
  <div class="pb-2 w-25">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  </div>
  <div class="dropdown pb-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" type="button">Basketball</button>
      <button class="dropdown-item" type="button">Volleyball</button>
      <button class="dropdown-item" type="button">Ultimate Frisbee</button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3" id="myPlayers">
    <% players.forEach( item => { %>
      <div class="col mb-4 playerList">
        <div class="card">
            <img
            src="<%= item.picture %>"
            class="card-img-top"
            alt="player profile"
            width="380"
            height="200"
            />
            <div class="card-body">
              <h5 class="card-title"><%= item.fname %> <%= item.lname %></h5>
              <div class="card-text">
                  <p>Sport: <%= item.sport %> <br />Skill: <%= item.skill %></p>
              </div>
              <a class="btn btn-primary" href= <%= "/players/" + item.id %>>Click here for more info</a>
            </div>
        </div>
      </div>
    <%})%>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myPlayers .playerList").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
