<div class="container">
    <h1>Profile</h1>
    <h2><%= user.fname%> <%= user.lname %></h2>
    <%=user.gender%>
    <br>
    <%=user.sport%>
    <br>
    <%=user.skill%>
    <br>
    <%=user.dob%>
    <br>
    <%=user.email%>
    <br>
    <a class="btn btn-primary" href="/user/edit">Edit</a>
    <%if(user.isManager === true){%>
    <a class="btn btn-success" href="/teams/create">Create a Team</a>
    <%}%>
</div>