<div class="container">
    <h1>Profile</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-img-top">
            <img src="<%=user.picture%>" class="img-fluid"/>
            <div class="card-body">
                <p class="card-text">
                <h2>
                    <%= user.fname%>
                        <%= user.lname %>
                </h2>
                <%=user.gender%>
                    <br>
                    <%=user.sport%>
                        <br>
                        <%=user.skill%>
                            <br>
                            <%=user.dob%>
                                <br>
                                <%=user.email%>
                                    <br></p>
                                    <a class="btn btn-primary" href="/user/edit">Edit</a>
            </div>
        </div>
    </div>
    <br>
    <h2>Requested Teams</h2>
    <%user.requestedTeams.forEach(teamId=> {%>
        <%teams.forEach(team=> {%>
            <%if(team.id==teamId){%>
                <%=team.name%>
                <form method="POST" action="/teams/<%=team.id%>/cancel">
                    <button class="btn btn-danger" type="submit">Cancel Request</button>
                </form>
                <br>
            <%}%>
        <%})%>
    <%})%>
    <h2>Joined Teams</h2>
    <%user.joinedTeams.forEach(teamId => {%>
        <%teams.forEach(team => {%>
            <%if(team.id == teamId){%>
                <%=team.name%>
                <form method="POST" action="/teams/<%=team.id%>/leave">
                    <button class="btn btn-danger" type="submit">Leave Team</button>
                </form>
                <br>
            <%}%>
        <%})%>
    <%})%>
    <%if(user.isManager === true){%>
    <h2>Manage Teams</h1>
    
    <a class="btn btn-success" href="/teams/create">Create a Team</a>
    <br>
    <!-- Add a button to accept all requests for a team -->
        <%teams.forEach(team => {%>
            <%if(team.manager_id == user.id){%>
                <h3><%= team.name %></h3>
            <a class="btn btn-danger" href="/teams/<%=team.id%>/edit/">Edit Team</a>
            <br>
            <h3>Requests</h3>
            <% players.forEach(player => {%>
                <%player.requestedTeams.forEach(teamId => {%>
                    <%if(team.id == teamId){%>
                            <%=player.fname%> <%=player.lname%>
                            <form method="POST" action="/teams/<%=team.id%>/accept/<%=player.id%>">
                                <button class="btn btn-success" type="submit">Accept</button>
                            </form>
                            <form method="POST" action="/teams/<%=team.id%>/decline/<%=player.id%>">
                                <button class="btn btn-danger" type="submit">Decline</button>
                            </form>
                            <br>
                        <%}%>
                     <%})%>
                <%})%>
            <h3>Current Members</h3>
            <% players.forEach(player => {%>
                <%player.joinedTeams.forEach(teamId => {%>
                    <%if(team.id == teamId){%>
                            <%=player.fname%> <%=player.lname%>
                            <form method="POST" action="/teams/<%=team.id%>/kick/<%=player.id%>">
                                <button class="btn btn-danger" type="submit">Kick</button>
                            </form>
                            <br>
                        <%}%>
                     <%})%>
                <%})%>
            <%}%>
        <%})%>
    <%}%>
</div>